body {
	background-color: #ffffff;
}

/*
#car-reservation-form {
}
*/

#car-details {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-flow: row wrap;
}

#car-details div {
/*	border: 1px solid black;*/
	margin: 10px;
	width: 260px;
}

#car-details img {
	width: 250px;
}

#other-details {
	display: flex;
	justify-content: center;
}

.included-in-price-table td {
	font-size: 12px;
}

.customer-form h5 {
	text-align: center;
	margin-top: 0;
}

.customer-form span {
	color: red;
}

.customer-form div, .payment div {
	margin: 5px 10px;
}

.form-row {
	display: flex;
}

.requirements {
	text-align: center;
}

.requirements textarea {
	width: 360px;
	height: 50px;
}

.payment {
	text-align: center;
	display: flex;
}

