					/*1.Body*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #EAF6F6;
    margin: 0;
}

					/*2. Header*/

.header-flex {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color:#66BFBF;
    text-align:center;
    align-items: center;
	overflow: hidden;
    display: flex;
    justify-content:space-between;
	flex-direction: row;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
	width: 200px;
	height: 50px;
}

.top-telephone-mail {
    align-items:center;
    display: flex;
}

.hours-icon {
    height: 20px;
    padding: 10px;
}

.mail-icon {
    height: 20px;
    padding: 10px;
}

@media all and (max-width: 800px) {
	.header-flex {
		flex-flow: column;
		padding: 0;
	}
}

.nav-bar {
    height: 70px;
    align-items:center;
    display: flex;
    justify-content:flex-end;
    margin: 0 10px;

}

.nav-bar a {
    color: #66BFBF;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    font-weight: bold;
}


.nav-bar a:hover {
    color: #FFFFFF;
    font-family: 'Merriweather', serif;
   }


.nav-bar div {
	width: 90px;
	height: 30px;
	align-items: center;
	display: flex;
	justify-content: center;
	border-right: 1px solid #66BFBF;
}

.nav-bar div:hover {
	background-color: #66BFBF;
}

.nav-bar div:last-child {
	border-right: none;
}

@media all and (max-width: 600px) {
	.nav-bar div {
		justify-content:center;
	}
}

/*
#nav-bar div::after {
	content: "|";
	margin: 0 10px;
	color: #66BFBF;
}
*/

					/*3. Article*/


.search-slide-windows {
	display: flex;
    justify-content: space-between;
	flex-direction: row;
/*	flex-wrap: wrap;*/
    margin: 0 auto;
    padding: 20px 90px;
}

.car-search-window {
	background-color: #66BFBF;
    color: white;
    padding: 0 20px;
	border-radius: 6px;
}

.form-section div {
	padding: 10px 0;
}

.display-select {
	display: flex;
	flex-direction: row;
	padding: 20px;
}

.button-place {
	text-align: center;
	padding: 20px 0;
}

.butn {
  	background: #11cdd4;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  	border-radius: 8px;
  	width: 100%;
  	font-family: 'Montserrat', sans-serif;
  	color: #ffffff;
  	font-size: 15px;
  	text-decoration: none;
  	padding: 10px 20px;
  	border: none;
}

.butn:hover {
  	background: #30e3cb;
  	background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  	text-decoration: none;
}

@media all and (max-width: 600px) {
	.search-slide-windows {
		justify-content: center;
		padding: 10px;
	}
	. search-slide-windows > * {
				flex: 1 100%;
			}
	.car-search-window {
		flex: 1 0 0;
	    }
	.display-select {
		flex-flow: column;
	}
}

@media all and (max-width: 800px) {
	.search-slide-windows {
		justify-content: center;
		padding: 10px;
	}
}

						/*4. Aside*/

.slide-window {
	width: 60%;
	border-radius: 6px;
	border: 1px solid black;
	padding-left: 20px;
}

.slide-window img {
 width: 100%;
}

@media all and (max-width: 600px) {
	.slide-window {
		display: none;
	}
}

						/*5. Aside2*/

.benefits {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 50px;
}

.benefits img {
    width: 80px;
}

.benefits div {
	text-align: center;
	color: #66BFBF;
	font-weight: bold;
	padding: 10px 100px;
}

@media all and (max-width: 800px) {
	.benefits {
		justify-content: center;
	}
	.benefits div {
		padding: 10px;
	}
}

@media all and (max-width: 600px) {
	.benefits {
		display: none;
	}
}

